<table class="table">
  <thead>
    <tr>
      <th style="width: 300px;">Field name</th>
      <th style="width: 550px;">Field value before</th>
      <th style="width: 550px;">Field value after</th>
    </tr>
  </thead>
  <tbody>

    <% if object.changeset.present? %>
      <% object.changeset.each do |key,value| %>
        <tr>
          <td style="width: 300px;"><%= key %></td>
          <td style="width: 550px; color: red;"><%= value.first %></td>
          <td style="width: 550px; color: green;"><%= value.last %></td>
        </tr>
      <% end %>
    <% end %>

  </tbody>
</table>