<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>
  Hello,
</p>
<p>
  This is an automatic email sent from Hayward Insurance Services.
</p>
<br>
<p>
  Please CANCEL the policy with the following details:
</p>
<p>
  AccountNumber: <%= @account_number %>
</p>
<br>
<p>
  Attached to this email is the Certificate of Cancellation associated with this request.
</p>
<p>
  If you have any questions or concerns please don't hesitate to reply to this email (to: replacement@haywardinsurance.ca).
</p>
<br>
<p>
  Regards,
</p>
<p>
  Hayward Insurance Services
</p>
</body>
</html>