<div class="card">
  <div class="card-body" style="padding: 5px; background-color: lightgrey">
    <p style="margin: 0;">
      <%= fa_icon "exclamation-triangle", type: :solid, class: "text-warning" %>
      <i class="fa-exclamation-triangle text-warning fa-lg"></i>
      <%= text %>
    </p>
  </div>
</div>