<footer class="footer">
  <div style="text-align: center;">
    Version 1.0.0 © 2019 Copyright Hayward Insurance Services. To report any technical issues please email haywardpos@gmail.com
  </div>
</footer>